version: "3.8"

services:
  postgres:
    image: postgres:14
    container_name: postgres-db
    restart: always

    ports:
      - "5433:5433"

    environment:
      POSTGRES_DB: plat_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
